<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PolyKids</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'polyapp/vendor/bootstrap/css/bootstrap.min.css' %}" />

    <!-- Custom Fonts -->
    <link href="{% static 'polyapp/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'polyapp/css/stylish-portfolio.min.css' %}" rel="stylesheet">
    <link href="{% static 'polyapp/style.css' %}" rel="stylesheet">

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

    <link rel="stylesheet" href="{% static 'polyapp/css/dashstyle.css' %}">


</head>

<body id="page-top">

    <script>
        var senor1DataPerHour = "{{ senor1DataPerHour }}";
        var senor2DataPerHour = "{{ senor2DataPerHour }}";
        var senor3DataPerHour = "{{ senor3DataPerHour }}";

        console.log(senor1DataPerHour)
        console.log(senor3DataPerHour)
    </script>

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p>Menu</p>
            </li>
            <li class="sidebar-nav-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{% url 'data' %}">Data</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{% url 'overview' %}">Graphs</a>
            </li>
        </ul>
    </nav>
    <div class="overlay"></div>
    </header>

    <div id="container">
        <div id="content">
            <div id="titleBar">
                <h2>Dashboard</h2>
                <div class="options">
                    <a href="" target="_blank">
                        <div class="username">Test User</div>
                    </a>
                    <hr>
                    <a href="#" class="option"><i class="fa fa-wrench"></i>Settings</a>
                    <a href="#" class="option"><i class="fa fa-suitcase"></i>Administration</a>

                    <a href="#" class="option"><i class="fa fa-plus"></i>More Info</a>
                    <a href="#" class="pro"><span>Need </span> Help?</a>
                    <a href="#" class="logout">Log out <i class="fa fa-sign-out"></i></a>
                </div>
            </div>
            <div class="mainChart">
                <canvas id="salesData"></canvas>
                <h2>Net Promoter Score's</h2>

                <div class="clearFix"></div>

                <div class="clearFix"></div>

                <div id="totalSales">
                    <div class="col">
                        <div id="creditSales" class="progressBar"></div>
                        <h3>56.1 %</h3>
                        <span class="progressTitle">Avg Last Month</span>
                    </div>
                    <div class="col">
                        <div id="channelSales" class="progressBar"></div>
                        <h3>64.0%</h3>
                        <span class="progressTitle">Avg Last Week</span>
                    </div>
                    <div class="col">
                        <div id="directSales" class="progressBar"></div>
                        <h3>51.23 %</h3>
                        <span class="progressTitle">Avg Overall</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js'></script>
    <script src='http://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.7.4/dist/progressbar.js'></script>



    <script src="{% static 'polyapp/js/dashindex.js' %}"></script>






    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'polyapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'polyapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'polyapp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'polyapp/js/stylish-portfolio.min.js' %}"></script>

</body>

</html>