<!DOCTYPE html>
<html lang="en">

  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PolyKids</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'polyapp/css/blob.css' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'polyapp/vendor/bootstrap/css/bootstrap.min.css' %}" />

    <!-- Custom Fonts -->
    <link href="{% static 'polyapp/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'polyapp/css/stylish-portfolio.min.css' %}" rel="stylesheet">
    <script src="{% static 'polyapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'polyapp/js/mqttws31.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'polyapp/js/PolyDecrypt.js' %}"></script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <p>Menu</p>
        </li>
        <li class="sidebar-nav-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="{% url 'data' %}">Data</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="{% url 'overview' %}">Overview</a>
        </li>
      </ul>
    </nav>

    <div class="loading_cont">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" id="loader">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feBlend in2="goo" in="SourceGraphic" result="mix" />
            </filter>
            <linearGradient id="MyGradient">
                <stop offset="5%"  stop-color="#40204c"/>
                <stop offset="40%" stop-color="#a3225c"/>
                <stop offset="100%" stop-color="#e24926"/>
            </linearGradient>
          </defs>
          <mask id="maska">
            <g class="blobs">
              <circle class="blob" cx="440" cy="250" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/>
              <circle class="blob" cx="500" cy="320" r="70"  transform="rotate(0) translate(0, 0) rotate(0)"/>
              <circle class="blob" cx="300" cy="390" r="40"  transform="rotate(0) translate(0, 0) rotate(0)"/>
              <circle class="blob" cx="380" cy="390" r="80"  transform="rotate(0) translate(0, 0) rotate(0)"/>
              <circle class="blob" cx="470" cy="450" r="20"  transform="rotate(0) translate(0, 0) rotate(0)"/>
            </g>
          </mask>
          <rect x="200" y="200"  mask="url(#maska)" fill="url(#MyGradient)" width="400" height="400">
        </svg>	
      </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
        <script  src="{% static 'polyapp/js/blob.js' %}"></script>
      

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'polyapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'polyapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'polyapp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'polyapp/js/stylish-portfolio.min.js' %}"></script>

  </body>

</html>
