<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PolyKids</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{% static 'polyapp/vendor/bootstrap/css/bootstrap.min.css' %}" />

  <!-- Custom Fonts -->
  <link href="{% static 'polyapp/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'polyapp/css/stylish-portfolio.min.css' %}" rel="stylesheet">


  <script type="text/javascript" src="{% static 'polyapp/js/fusioncharts.theme.fusion.js' %}"></script>
  <script type="text/javascript" src="{% static 'polyapp/js/fusioncharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'polyapp/js/fusioncharts.widgets.js' %}"></script>
  <script src="{% static 'polyapp/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'polyapp/js/mqttws31.js' %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'polyapp/js/PolyDecrypt.js' %}"></script>

  <link href="{% static 'polyapp/css/threetable.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <p>Menu</p>
      </li>
      <li class="sidebar-nav-item">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{% url 'data' %}">Data</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{% url 'overview' %}">Graphs</a>
      </li>
    </ul>
  </nav>

  <script src="{% static 'polyapp/js/FusionChartOne.js' %}" type="text/javascript"></script>
  <script src="{% static 'polyapp/js/FusionChartTwo.js' %}" type="text/javascript"></script>
  <script src="{% static 'polyapp/js/FusionChartThree.js' %}" type="text/javascript"></script>

  <div class="wrapper">

	<header>
		<h1>Real Time Readings</h1>
	</header>
		
<section class="columns">
	
	<div class="column">
		<h2>One</h2>
		<p><div id="chart-container">FusionCharts XT will load here!</div></p>
	</div>
	
	<div class="column">
		<h2>Two</h2>
		<p><div id="chart-container2">FusionCharts XT will load here!</div></p>
	</div>
  
  <div class="column">
		<h2>Three</h2>
		<p><div id="chart-container3">FusionCharts XT will load here!</div></p>
	</div>
	
</section>	

</div>

  <!--<div id="chart-container">FusionCharts XT will load here!</div>-->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'polyapp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'polyapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'polyapp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'polyapp/js/stylish-portfolio.min.js' %}"></script>

</body>

</html>