<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>

    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polyapp/style.css' %}"> 

  </head>
  <body>
  
    <p> Template Working </p>
    
  </body>
</html>