@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.fullcontainer {
  width: 100%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 10% 8%;
}

.fullcontainer h2 {
  margin: 0;
  padding: 0;
  color: #86C232;
  font-size: 2.5rem;
  line-height: 1.3;
}

.loadingpage {
  width: 100vw;
  height: 100vh;
  background: #161616;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

.loadingpage::before {
  content: '';
  width: 51%;
  height: 100%;
  background: #86C232;
  position: absolute;
  z-index: 2;
  left: 0%;
  top: 0%;
}

.loadingpage::after {
  content: '';
  width: 51%;
  height: 100%;
  background: #86C232;
  position: absolute;
  z-index: 2;
  right: 0%;
  top: 0%;
}

.loadingpage .counter {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.loadingpage h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 5rem;
  font-weight: bolder;
}

/******** when page is loaded **********/
.pageisloaded {
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 1s 1.3s ease-out;
}

.pageisloaded::before {
  content: '';
  transform: translateX(-100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pageisloaded::after {
  content: '';
  transform: translateX(100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pageisloaded .counter {
  opacity: 0;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 400px) {
  .fullcontainer h2 {
    line-height: 1.2;
    font-size: 1.95rem;
  }

  .fullcontainer p {
    font-size: 0.91rem;
  }
}

body {
  background-color: #101010;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}

.dots{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-183/dots-transparent.png);
  width: 100%;
  height:100%;
  opacity: .1;
  background-repeat: repeat;
}

.wrapper{
  position:absolute;
  top:0px;
  left:0px;
  width: 100%;
  height:100%;
  text-align: center;
}

.grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #152a8e, #b1376c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #152a8e, #b1376c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #152a8e, #b1376c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #152a8e, #b1376c); /* Standard syntax */
}
.metaball-canvas{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}
