@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body { 
  font-family: 'Open Sans', sans-serif;
  color: #F5F5DC;
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

footer {
	padding: 0 15px;
}

chart-container{
	max-width: 400px;
}

chart-container3{
	width: 10px;
}


@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

body {
	background-image: url("https://pro2-bar-s3-cdn-cf5.myportfolio.com/50fbdf91bdbc7efc41655f912122cd31/68aa55154ccc3eb9b6ceada8_rw_1920.jpg?h=6c5c7744fcf106b88fc8289635bb91c2");
    background-size: cover;
}